body {
  background-color: #121212;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  padding: 0;

  max-width: 992px;
  margin: 0 auto;
}

.app {
  display: grid;

  grid-template-rows: 30% 70%;
  margin-left: 10px;
  margin-right: 10px;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 50px;
  height: 100%;
}

.screen > p {
  margin: 0;
}

.preview {
  font-size: 16px;
  margin-bottom: 10px !important;
}

.calc-body {
  display: grid;
  align-content: end;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding-bottom: 10px;
  grid-template-areas:
    "btn1 btn2 btn3 btn4"
    "btn5 btn6 btn7 btn8"
    "btn9 btn10 btn11 btn12"
    "btn13 btn14 btn15 btn16"
    "span2 span2 btn17 btn18";
}

.span2 {
  grid-area: span2;
}

.btn {
  font-size: 30px;
  background-color: #323232;
  border: 0.1px solid #707070;
  padding: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
}
